.reservation-link,.reservation-link:hover,.reservation-link-2 {
  text-decoration:none;
  color:inherit;
}

.banner-title{
  background-image: url("../img/Infos3.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.banner-title h1 {
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}
.ligne1 {
  margin-top: 25px;
}
.ligne1 img {
  border: 2px solid rgb(18, 185, 18);
  height: 300px;
  width: auto;
  margin-bottom: 10px;
}

.foo {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.blue {
  background: #007bff;
}

.green {
  background: #1e7e34;
}

.orange {
  background: rgb(255, 174, 0);
  border: 1px solid rgb(219, 150, 0);
}
.orange:hover{
  background: rgb(219, 150, 0);
  border: 1px solid rgb(206, 141, 1);
}


.reservation-link-color{
  color:orange;
}

.container.container-form {
  border:2px solid black;
}

.Formulaire-number {
  position:relative;
  left:34px;
  bottom:89px;
  color:orange;
}

.container.borderclient {
 border:2px solid black;
}

.collapseclient {
 width:100%;
}

.border-form-prix{
  border:2px solid black;
}

.container.border-util {
  border:1px solid black;
}

.user_form {
  text-transform: uppercase;
  cursor:pointer;
}

.user_form2 {
  padding-top:10px;
}

.row.d-flex.flex-row.border-util {
  border-bottom:1px solid black;
}

border-column-admin {
  border:1px solid black;
}

.col-md-4.col-xl-3.d-flex.flex-column.justify-content-around.align-items-center.border-column-admin {
  border:1px solid black;
}

.container.d-flex.flex-column.ml-auto.bordercontainer {
  border:1px solid black;
}

.container.d-flex.flex-column.bordercontainer {
  border:1px solid black;
}

.row.d-flex.bordertitleadmin {
  border:1px solid black;
  border-top:none;
  border-left:none;
  border-right:none;
}

.col-xl-12.d-flex.justify-content-center.totalprix {
  border-top:1px solid black;
}

.col.border-left-admin {
  border-left:1px solid black;
}

.clear {
  clear:both;
}

footer{
  border-top: 2px solid rgb(39, 39, 39);
  background-color: rgb(77, 77, 77);
}
.footer_row_1 {
  padding-top: 10px;
  margin-bottom: -20px;
}

.footer_row_1 a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.footer_row_1 a:hover {
  text-decoration: underline;
}

.footer_row_2 {
  color: rgb(53, 52, 52);
}
.btn-secondary {
  background-color: rgb(18, 185, 18);
}